n8n-workflows/bcv-tasa-automation.json
{
  "name": "BCV Tasa de Cambio - Automatización Diaria",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bcv-tasa-webhook",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "bcv-tasa-webhook-id"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/skills/tasa-bcv",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "execute-tasa-bcv",
      "name": "Ejecutar Tasa BCV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL }}/api/skills/tasa-bcv/official?currency=USD",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-usd-rate",
      "name": "Obtener Tasa USD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL }}/api/skills/tasa-bcv/official?currency=EUR",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-eur-rate",
      "name": "Obtener Tasa EUR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL }}/api/skills/tasa-bcv/banks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-bank-rates",
      "name": "Obtener Tasas Bancos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "tasas_cambiarias",
        "fields": {
          "fecha": "={{ $now.format('yyyy-MM-dd') }}",
          "tasa_usd": "={{ $json[\"get-usd-rate\"].rate }}",
          "tasa_eur": "={{ $json[\"get-eur-rate\"].rate }}",
          "timestamp": "={{ $json[\"get-usd-rate\"].timestamp }}",
          "created_at": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
        },
        "options": {}
      },
      "id": "save-to-db",
      "name": "Guardar en Base de Datos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1050, 300],
      "credentials": {
        "postgres": "ERP_ZENITH_DB"
      }
    },
    {
      "parameters": {
        "channel": "tasas-cambiarias",
        "text": "=🇻🇪 *Tasa BCV Actualizada*\n\n💵 USD: Bs. {{ $json[\"get-usd-rate\"].rate }}\n💶 EUR: Bs. {{ $json[\"get-eur-rate\"].rate }}\n\n📅 Fecha: {{ $now.format('dddd, DD [de] MMMM YYYY') }}\n\n✅ Actualización automática completada",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "notify-slack",
      "name": "Notificar Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1250, 300],
      "credentials": {
        "slackApi": "ERP_ZENITH_SLACK"
      }
    },
    {
      "parameters": {
        "schedule": "0 8 * * 1-5",
        "timezone": "America/Caracas"
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Ejecutar Tasa BCV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar Tasa BCV": {
      "main": [
        [
          {
            "node": "Obtener Tasa USD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Obtener Tasa EUR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Tasa USD": {
      "main": [
        [
          {
            "node": "Obtener Tasas Bancos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Tasa EUR": {
      "main": [
        [
          {
            "node": "Obtener Tasas Bancos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Tasas Bancos": {
      "main": [
        [
          {
            "node": "Guardar en Base de Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Base de Datos": {
      "main": [
        [
          {
            "node": "Notificar Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Ejecutar Tasa BCV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "BCV",
      "createdAt": "2026-03-19T00:00:00.000Z",
      "updatedAt": "2026-03-19T00:00:00.000Z"
    },
    {
      "name": "Automatización",
      "createdAt": "2026-03-19T00:00:00.000Z",
      "updatedAt": "2026-03-19T00:00:00.000Z"
    },
    {
      "name": "Skills",
      "createdAt": "2026-03-19T00:00:00.000Z",
      "updatedAt": "2026-03-19T00:00:00.000Z"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2026-03-19T00:00:00.000Z",
  "versionId": "bcv-tasa-v1-2026-03-19"
}
